<div class="grid-container">
  <div class="grid-item" *ngFor="let item of articles">
    <p>{{ item["Seasonal Availability"] }}</p>
    <img src="{{ item['Closet Image'] }}" alt="" />
    <p>{{ item.Name }}</p>
    <p>{{ item.Buy }}</p>
    <form [formGroup]="form">
      <label for="amount">Amount:</label>
      <input
        type="number"
        formControlName="amount"
        required
        min="1"
        max="999"
      />
      <button (click)="OnSubmit(item)">Add to cart</button>
    </form>
  </div>
</div>
